<!DOCTYPE html>
<html lang="en" class="scroll-smooth">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>

</head>

<body class="font-svn w-screen overflow-x-hidden relative ">
    <nav class="hidden w-full md:block bg-secondary-5">
        <div
            class="w-full mx-auto xl:max-w-7xl flex justify-between items-center text-body-2 font-normal py-[10px] px-2 text-white 2xl:px-0">
            <div>Nếu có câu hỏi nào? liên hệ chúng tôi 028 9973 6586</div>
            <div>Thời gian làm việc : 9:00 - 22:00</div>
        </div>
    </nav>
    <header class="sticky z-10 top-0 bg-white">
        <!-- menu mobile & tablet -->
        <div class="  flex justify-between items-center w-full mx-auto px-4 py-5 md:py-8 xl:hidden ">
            <a href="index.html" class=""> <img src="../img/header-footer/logo.png" alt=""></a>
            <div class="">
                <button id="menu-btn"
                    class="twi-7-menu-fill text-secondary-2 text-[28px] hover:text-primary-1"></button>
                <div id="menu-content"
                    class="hidden absolute top-0 left-0 bg-black/80 w-screen h-screen  md:h-[93.85vh]">
                    <div id="menu-contents"
                        class="flex flex-col gap-[69px] animate-fade-left-menu px-4 w-[306px] h-full bg-white overflow-scroll no-scrollbar ">
                        <div class="flex justify-between mt-6 md:mt-7">
                            <a href="index.html" class=""> <img src="../img/header-footer/logo.png" alt=""></a>
                            <button class="twi-7-close-line text-[24px] text-neutral-1-500 close"></button>
                        </div>
                        <ul class="flex flex-col gap-5 text-secondary-2 font-medium h-full text-body-1">
                            <li><a href="index.html" class="text-primary-2">Trang chủ</a></li>
                            <li> <a href="about.html">Giới thiệu</a></li>
                            <li>
                                <div class=" items-center flex cursor-pointer dropdown-btn">
                                    <a href="#" class="">Tin tức</a>
                                    <i class="btn-open-tin-tuc twi-7-arrow-left-line text-[24px]"></i>
                                </div>
                                <ul class="mt-[14px] ml-3 flex-col gap-[26px] hidden dropdown-content ">
                                    <li class="flex gap-2.5 items-center">
                                        <div class="w-[3px] h-[3px] rounded-full bg-primary-1"></div>
                                        <a href="#">Hoạt động</a>
                                    </li>
                                    <li class="flex gap-2.5 items-center">
                                        <div class="w-[3px] h-[3px] rounded-full bg-primary-1"></div>
                                        <a href="#">Xây dựng</a>
                                    </li>
                                    <li class="flex gap-2.5 items-center">
                                        <div class="w-[3px] h-[3px] rounded-full bg-primary-1"></div>
                                        <a href="#">Công nghệ</a>
                                    </li>
                                    <li class="flex gap-2.5 items-center">
                                        <div class="w-[3px] h-[3px] rounded-full bg-primary-1"></div>
                                        <a href="#">Công nghệ</a>
                                    </li>
                                    <li class="flex gap-2.5 items-center">
                                        <div class="w-[3px] h-[3px] rounded-full bg-primary-1"></div>
                                        <a href="#">Công nghệ</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="#" class="hover:text-primary-1">Tài liệu</a></li>
                            <li><a href="#" class="hover:text-primary-1">Liên hệ</a></li>
                            <li class="hidden md:block">
                                <div class=" items-center flex cursor-pointer dropdown-btn">
                                    <a href="#" class="">Tin tức</a>
                                    <i class="btn-open-tin-tuc twi-7-arrow-left-line text-[24px]"></i>
                                </div>
                                <ul class="mt-[14px] ml-3 flex-col gap-[26px] hidden dropdown-content ">
                                    <li class="flex gap-2.5 items-center">
                                        <div class="w-[3px] h-[3px] rounded-full bg-primary-1"></div>
                                        <a href="#">Hoạt động</a>
                                    </li>
                                    <li class="flex gap-2.5 items-center">
                                        <div class="w-[3px] h-[3px] rounded-full bg-primary-1"></div>
                                        <a href="#">Xây dựng</a>
                                    </li>
                                    <li class="flex gap-2.5 items-center">
                                        <div class="w-[3px] h-[3px] rounded-full bg-primary-1"></div>
                                        <a href="#">Công nghệ</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- menu desktop -->
        <div class=" hidden xl:flex justify-between items-center w-full mx-auto py-8 xl:max-w-7xl lg:px-2 2xl:px-0">
            <a href="index.html" class=""> <img src="../img/header-footer/logo.png" alt=""></a>
            <ul class="flex gap-[62px] text-heading-6 font-semibold text-neutral-1-900 ">
                <li><a href="index.html" class="text-primary-1 ">Trang chủ</a></li>
                <li> <a href="about.html" class="hover:text-primary-1">Giới thiệu</a></li>
                <li class="group relative">
                    <div class="flex items-center  group-hover:text-primary-1 cursor-pointer">
                        <a href="#">Tin tức</a>
                        <i class="twi-7-arrow-down-line text-[24px]"></i>
                    </div>
                    <div class="absolute top-full left-0 invisible group-hover:visible">
                        <ul
                            class="mt-[14px] py-1 w-40 rounded bg-white shadow-box-shadow-tin-tuc text-body-2 font-normal flex flex-col gap-[10px] cursor-pointer">
                            <li class=" py-1.5 px-3 hover:text-primary-1"><a href="#">Hoạt động</a></li>
                            <li class=" py-1.5 px-3 hover:text-primary-1"><a href="#">Xây dựng</a></li>
                            <li class=" py-1.5 pl-3 sub-dropdown relative">
                                <div class="w-full sub-dropdown-title">
                                    <a href="#">Công nghệ</a>
                                    <i class="twi-7-arrow-left-line text-[24px] float-right"></i>
                                </div>
                                <div class="w-full invisible sub-dropdown-content absolute top-0 left-full">
                                    <ul
                                        class="w-full ml-0.5 py-1 px-3 flex flex-col gap-[10px] bg-white rounded shadow-box-shadow-tin-tuc">
                                        <!-- class="w-full ml-0.5 py-1 flex flex-col gap-[10px] bg-white rounded shadow-box-shadow-tin-tuc"> -->
                                        <li class="py-1.5  hover:text-primary-1"><a href="#">Hoạt
                                                động</a></li>
                                        <li class="py-1.5 hover:text-primary-1 "><a href="#">Xây
                                                dựng</a></li>
                                        <li class=" py-1.5 hover:text-primary-1"><a href="#">Công
                                                nghệ</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="py-1.5 px-3 hover:text-primary-1"><a href="#">Công nghệ</a></li>
                            <li class="py-1.5 px-3 hover:text-primary-1 "><a href="#">Công nghệ</a></li>
                        </ul>
                    </div>
                </li>
                <li> <a href="#" class="hover:text-primary-1">Tài liệu</a></li>
                <li> <a href="#" class="hover:text-primary-1">Liên hệ</a></li>
            </ul>
        </div>
    </header>
    <main>
        <section>
            <!-- <div class="relative pt-[470px] px-4 bg-dich-vu "> -->
            <div
                class="bg-neutral-2-50 w-full md:bg-dich-vu bg-no-repeat md:aspect-834/846 lg:px-2 xl:aspect-1917/846 xl:bg-right xl:flex flex-col gap-[252px] 2xl:px-0">
                <div
                    class="pt-[38px] pb-[94px] px-4 md:pt-[186px] md:pb-[269px] md:pr-[196px] xl:pb-0 xl:pl-0 xl:pr-[627px] xl:max-w-7xl w-full mx-auto">
                    <div class="flex items-center gap-2">
                        <div class="w-[17px] h-[1px] bg-primary-1"></div>
                        <span class="text-primary-1 font-medium text-body-1">Dịch vụ</span>
                    </div>
                    <div
                        class="mt-1.5 text-secondary-2 font-semibold text-heading-3 md:mt-3 md:text-secondary-3 md:text-heading-1">
                        Chuyên cung cấp các thiết bị
                        tự <br class="hidden md:block">
                        động
                        hóa, van, phụ kiện<br class="hidden md:block"> công nghiệp </div>
                    <div
                        class="mt-[22px] text-body-1 text-secondary-2 font-normal md:mt-[26px] md:text-neutral-1-900 md:text-heading-6">
                        Sản phẩm đa dạng, đủ các
                        kích cỡ,
                        chất
                        liệu, nguồn gốc rõ ràng, tiêu chuẩn chất
                        lượng, kiểm định chặt chẽ, uy tín tại châu Âu, châu Á…</div>
                    <div
                        class="mt-[38px] flex py-1 pl-5 pr-1 items-center bg-white rounded-[10px] md:mt-[43px] md:border-solid md:border-[1px] md:border-border md:py-2.5 md:pr-2.5 md:w-[97.42%] xl:hidden">
                        <input type="email" placeholder="Nhập email của bạn để nhận báo giá"
                            class="text-neutral-1-500 text-ellipsis whitespace-nowrap text-body-2 font-normal overflow-hidden flex-1">
                        <button
                            class="w-28 h-[42px] px-[11px] py-[5px] flex items-center  justify-center rounded-lg bg-primary-1 text-white text-body-2 font-semibold ">Gửi
                            mail</button>
                    </div>
                    <div
                        class="hidden xl:flex text-primary-1 w-fit gap-1 border-solid border-b-2 pb-1 border-primary-1 mt-6">
                        <a href="#" class="text-heading-6 font-semibold ">Liên hệ ngay</a>
                        <button class="twi-7-backward-fill text-[24px]"></button>
                    </div>
                </div>
                <div class="hidden xl:flex justify-center text-neutral-1-900 ">
                    <a href="#section-2" class="flex gap-2.5">
                        <span class=" font-semibold">Scroll to Discover</span>
                        <i class="twi-7-down-line"></i>
                    </a>
                </div>
            </div>
        </section>

        <section id="section-2" class="h-[1000px] bg-purple-200">
            <!-- <span class="counter-home' ">1324</span> -->
            <div class="bg is-size-1 bg-sky-400 h-screen text-white flex justify-center items-center">Scroll down</div>
            <nav class="level bg-green-300 px-5 !m-0">
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Tweets</p>
                        <p class="title js-count-up text-inherit w-[200px] h-9" data-value="3456">df</p>
                    </div>
                </div>
            </nav>
        </section>
        <section id="section3" class="h-[1000px] bg-purple-500">
            cảm nhận khách hàng
        </section>
        <section>
            thông tin bên ngoài
        </section>
        <section>
            banner liên hệ
        </section>
    </main>
    <footer>footer</footer>

</body>
<!-- <script>var waypoint = new Waypoint({
        element: document.getElementById('basic-waypoint'),
        handler: function () {
            notify('Basic waypoint triggered')
        }
    })</script> -->

</html>