<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
</head>

<body class="font-svn w-screen overflow-x-hidden">
    <header>
        <div class="">
            <div class="hidden md:block bg-secondary-5">
                <div
                    class="w-full mx-auto xl:max-w-7xl flex justify-between items-center text-body-2 font-normal py-[10px] px-4 text-white">
                    <div>Nếu có câu hỏi nào? liên hệ chúng tôi 028 9973 6586</div>
                    <div>Thời gian làm việc : 9:00 - 22:00</div>
                </div>
            </div>
            <div class="relative flex justify-between items-center w-full mx-auto md:h-[90px] xl:max-w-7xl">
                <a href="index.html" class=""> <img src="../img/header-footer/logo.png" alt=""></a>
                <div class="flex xl:gap-[62px]">
                    <div id="menu-content" class=" hidden bg-black/80 w-screen h-screen xl:border-hidden">
                        <div id="menu-contents"
                            class=" absolute top-0 left-0 flex flex-col gap-[69px] px-4 w-4/5 h-screen bg-white overflow-y-auto no-scrollbar ">
                            <div class="flex justify-between mt-6">
                                <a href="index.html" class=""> <img src="../img/header-footer/logo.png" alt=""></a>
                                <button class="twi-7-close-line text-[24px] text-neutral-1-500 close"></button>
                            </div>
                            <ul class="flex flex-col gap-5 text-secondary-2 font-medium h-full text-body-1">
                                <li><a href="index.html" class="text-primary-2">Trang chủ</a></li>
                                <li> <a href="about.html">Giới thiệu</a></li>
                                <li class="">
                                    <div class=" items-center flex cursor-pointer">
                                        <a href="#" class="dropdown-btn">Tin tức</a>
                                        <i class="twi-7-arrow-left-line text-[24px]"></i>
                                    </div>
                                    <ul class="mt-[14px] ml-3  flex-col gap-[26px] hidden dropdown-content ">
                                        <li class="flex gap-2.5 items-center">
                                            <div class="w-[3px] h-[3px] rounded-full bg-primary-1"></div>
                                            <a href="#">Hoạt động</a>
                                        </li>
                                        <li class="flex gap-2.5 items-center">
                                            <div class="w-[3px] h-[3px] rounded-full bg-primary-1"></div>
                                            <a href="#">Xây dựng</a>
                                        </li>
                                        <li class="flex gap-2.5 items-center">
                                            <div class="w-[3px] h-[3px] rounded-full bg-primary-1"></div>
                                            <a href="#">Công nghệ</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="#" class="hover:text-primary-1">Tài liệu</a></li>
                                <li><a href="#" class="hover:text-primary-1">Liên hệ</a></li>
                            </ul>
                        </div>
                        <!-- <li><a href="index.html" class="text-primary-1 ">Trang chủ</a></li>
                        <li> <a href="about.html" class="hover:text-primary-1">Giới thiệu</a></li>
                        <li class="group relative">
                            <div class="flex items-center  group-hover:text-primary-1 cursor-pointer">
                                <span class="">Tin tức</span>
                                <i class="twi-7-arrow-down-line text-[24px]"></i>
                            </div>
                            <ul class="absolute top-full left-0 w-[185px] invisible group-hover:visible">
                                <div
                                    class="mt-[14px] w-full py-1 rounded bg-white shadow-box-shadow-tin-tuc text-body-2 font-normal flex flex-col gap-[10px] cursor-pointer ">
                                    <li class=" py-1.5 px-3 hover:text-primary-1"><a href="#">Hoạt động</a></li>
                                    <li class=" py-1.5 px-3 hover:text-primary-1"><a href="#">Xây dựng</a></li>
                                    <li class=" py-1.5 pl-3 sub-dropdown relative">
                                        <div class="w-full sub-dropdown-title">
                                            <a href="#">Công nghệ</a>
                                            <i class="twi-7-arrow-left-line text-[24px] float-right"></i>
                                        </div>
                                        <ul class="w-full invisible sub-dropdown-content absolute top-0 left-full">
                                            <div
                                                class="w-full ml-0.5 py-1 flex flex-col gap-[10px] bg-white  rounded shadow-box-shadow-tin-tuc">
                                                <li class="w-full py-1.5 px-3 hover:text-primary-1"><a href="#">Hoạt
                                                        động</a></li>
                                                <li class="w-full py-1.5 px-3 hover:text-primary-1 "><a href="#">Xây
                                                        dựng</a></li>
                                                <li class=" py-1.5 px-3 hover:text-primary-1"><a href="#">Công
                                                        nghệ</a></li>
                                            </div>
                                        </ul>
                                    </li>
                                    <li class="py-1.5 px-3 hover:text-primary-1"><a href="#">Công nghệ</a></li>
                                    <li class="py-1.5 px-3 hover:text-primary-1 "><a href="#">Công nghệ</a></li>
                                </div>
                            </ul>
                        </li>
                        <li> <a href="#" class="hover:text-primary-1">Tài liệu</a></li>
                        <li> <a href="#" class="hover:text-primary-1">Liên hệ</a></li> -->
                    </div>
                    <ul class="hidden xl:flex gap-[62px] text-heading-6 font-semibold text-neutral-1-900 ">
                        <li><a href="index.html" class="text-primary-1 ">Trang chủ</a></li>
                        <li> <a href="about.html" class="hover:text-primary-1">Giới thiệu</a></li>
                        <li class="group  relative">
                            <div class="flex items-center  group-hover:text-primary-1 cursor-pointer">
                                <span class="">Tin tức</span>
                                <i class="twi-7-arrow-down-line text-[24px]"></i>
                            </div>
                            <div class="absolute top-full left-0 w-[185px] invisible group-hover:visible">
                                <ul
                                    class="mt-[14px] w-full py-1 rounded bg-white shadow-box-shadow-tin-tuc text-body-2 font-normal flex flex-col gap-[10px] cursor-pointer ">
                                    <li class=" py-1.5 px-3 hover:text-primary-1"><a href="#">Hoạt động</a></li>
                                    <li class=" py-1.5 px-3 hover:text-primary-1"><a href="#">Xây dựng</a></li>
                                    <li class=" py-1.5 pl-3 sub-dropdown relative">
                                        <div class="w-full sub-dropdown-title">
                                            <a href="#">Công nghệ</a>
                                            <i class="twi-7-arrow-left-line text-[24px] float-right"></i>
                                        </div>
                                        <div class="w-full invisible sub-dropdown-content absolute top-0 left-full">
                                            <ul
                                                class="w-full ml-0.5 py-1 flex flex-col gap-[10px] bg-white  rounded shadow-box-shadow-tin-tuc">
                                                <li class="w-full py-1.5 px-3 hover:text-primary-1"><a href="#">Hoạt
                                                        động</a></li>
                                                <li class="w-full py-1.5 px-3 hover:text-primary-1 "><a href="#">Xây
                                                        dựng</a></li>
                                                <li class=" py-1.5 px-3 hover:text-primary-1"><a href="#">Công
                                                        nghệ</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="py-1.5 px-3 hover:text-primary-1"><a href="#">Công nghệ</a></li>
                                    <li class="py-1.5 px-3 hover:text-primary-1 "><a href="#">Công nghệ</a></li>
                                </ul>
                            </div>
                        </li>
                        <li> <a href="#" class="hover:text-primary-1">Tài liệu</a></li>
                        <li> <a href="#" class="hover:text-primary-1">Liên hệ</a></li>
                    </ul>
                    <button id="menu-btn"
                        class="xl:hidden twi-7-menu-fill text-secondary-2 text-[28px] hover:text-primary-1"></button>
                </div>
            </div>
    </header>
    <main class="h-[1000px] bg-slate-600">main</main>
    <footer>footer</footer>
</body>

</html>