<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>News</title>

</head>

<body class="font-svn w-screen overflow-x-hidden relative ">
    <nav class="hidden w-full md:block bg-secondary-5">
        <div
            class="w-full mx-auto xl:max-w-7xl flex justify-between items-center text-body-2 font-normal py-[10px] px-2 text-white 2xl:px-0">
            <div>Nếu có câu hỏi nào? liên hệ chúng tôi 028 9973 6586</div>
            <div>Thời gian làm việc : 9:00 - 22:00</div>
        </div>
    </nav>
    <header class="sticky z-10 top-0 bg-white shadow-menu">
        <!-- menu mobile & tablet -->
        <div class="  flex justify-between items-center w-full mx-auto px-4 py-5 md:py-8 xl:hidden ">
            <a href="index.html" class=""> <img class="aspect-4" src="../img/header-footer/logo.png" alt=""></a>
            <div class="flex">
                <button id="menu-btn"
                    class="twi-7-menu-fill text-secondary-2 text-[28px] hover:text-primary-1"></button>
                <div id="menu-content"
                    class="hidden absolute top-0 left-0 bg-black/80 w-screen h-screen  md:h-[93.85vh]">
                    <div id="menu-contents"
                        class="flex flex-col gap-[69px] transition-all animate-menu px-4 w-[306px] h-full bg-white overflow-scroll no-scrollbar ">
                        <div class="flex justify-between mt-6 md:mt-7">
                            <a href="index.html" class=""> <img class="aspect-4" src="../img/header-footer/logo.png"
                                    alt=""></a>
                            <button class="twi-7-close-line text-[24px] text-neutral-1-500 close"></button>
                        </div>
                        <ul class="flex flex-col gap-5 text-secondary-2 font-medium h-full text-body-1">
                            <li><a href="index.html" class="">Trang chủ</a></li>
                            <li> <a href="about.html">Giới thiệu</a></li>
                            <li>
                                <div class="text-primary-2 items-center flex cursor-pointer">
                                    <a href="news.html" class="">Tin tức</a>
                                    <i class="btn-open-tin-tuc  twi-7-arrow-left-line text-[24px]"></i>
                                </div>
                                <ul class="mt-[14px] ml-3 flex-col gap-[26px] hidden dropdown-content ">
                                    <li class="flex gap-2.5 items-center">
                                        <div class="w-[3px] h-[3px] rounded-full bg-primary-1"></div>
                                        <a href="#">Hoạt động</a>
                                    </li>
                                    <li class="flex gap-2.5 items-center">
                                        <div class="w-[3px] h-[3px] rounded-full bg-primary-1"></div>
                                        <a href="#">Xây dựng</a>
                                    </li>
                                    <li class="flex gap-2.5 items-center">
                                        <div class="w-[3px] h-[3px] rounded-full bg-primary-1"></div>
                                        <a href="#">Công nghệ</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="#" class="hover:text-primary-1">Tài liệu</a></li>
                            <li><a href="#" class="hover:text-primary-1">Liên hệ</a></li>
                            <li class="hidden md:block">
                                <div class=" items-center flex cursor-pointer dropdown-btn">
                                    <a href="#" class="">Tin tức</a>
                                    <i class="btn-open-tin-tuc twi-7-arrow-left-line text-[24px]"></i>
                                </div>
                                <ul class="mt-[14px] ml-3 flex-col gap-[26px] hidden dropdown-content ">
                                    <li class="flex gap-2.5 items-center">
                                        <div class="w-[3px] h-[3px] rounded-full bg-primary-1"></div>
                                        <a href="#">Hoạt động</a>
                                    </li>
                                    <li class="flex gap-2.5 items-center">
                                        <div class="w-[3px] h-[3px] rounded-full bg-primary-1"></div>
                                        <a href="#">Xây dựng</a>
                                    </li>
                                    <li class="flex gap-2.5 items-center">
                                        <div class="w-[3px] h-[3px] rounded-full bg-primary-1"></div>
                                        <a href="#">Công nghệ</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- menu desktop -->
        <div class=" hidden xl:flex justify-between items-center w-full mx-auto py-8 xl:max-w-7xl lg:px-2 2xl:px-0">
            <a href="index.html" class=""> <img class="aspect-4" src="../img/header-footer/logo.png"></a>
            <ul class="flex gap-[62px] text-heading-6 font-semibold text-neutral-1-900 ">
                <li><a href="index.html" class="hover:text-primary-1 ">Trang chủ</a></li>
                <li> <a href="about.html" class="hover:text-primary-1">Giới thiệu</a></li>
                <li class="group relative">
                    <div class="flex items-center text-primary-1 cursor-pointer">
                        <a href="news.html">Tin tức</a>
                        <i class="twi-7-arrow-down-line text-[24px]"></i>
                    </div>
                    <div class="absolute top-full left-0 hidden group-hover:block">
                        <ul
                            class="mt-[14px] py-1 w-40 rounded bg-white shadow-box-shadow-tin-tuc text-body-2 font-normal flex flex-col gap-[10px] cursor-pointer">
                            <li class=" py-1.5 px-3 hover:text-primary-1"><a href="#">Hoạt động</a></li>
                            <li class=" py-1.5 px-3 hover:text-primary-1"><a href="#">Xây dựng</a></li>
                            <li class=" py-1.5 pl-3 sub-dropdown relative">
                                <div class="w-full sub-dropdown-title">
                                    <a href="#">Công nghệ</a>
                                    <i class="twi-7-arrow-left-line text-[24px] float-right"></i>
                                </div>
                                <div class="w-full invisible sub-dropdown-content absolute top-0 left-full">
                                    <ul
                                        class="w-full ml-0.5 py-1 px-3 flex flex-col gap-[10px] bg-white rounded shadow-box-shadow-tin-tuc">
                                        <!-- class="w-full ml-0.5 py-1 flex flex-col gap-[10px] bg-white rounded shadow-box-shadow-tin-tuc"> -->
                                        <li class="py-1.5  hover:text-primary-1"><a href="#">Hoạt
                                                động</a></li>
                                        <li class="py-1.5 hover:text-primary-1 "><a href="#">Xây
                                                dựng</a></li>
                                        <li class=" py-1.5 hover:text-primary-1"><a href="#">Công
                                                nghệ</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="py-1.5 px-3 hover:text-primary-1"><a href="#">Công nghệ</a></li>
                            <li class="py-1.5 px-3 hover:text-primary-1 "><a href="#">Công nghệ</a></li>
                        </ul>
                    </div>
                </li>
                <li> <a href="#" class="hover:text-primary-1">Tài liệu</a></li>
                <li> <a href="#" class="hover:text-primary-1">Liên hệ</a></li>
            </ul>
        </div>
    </header>
    <main class="flex flex-col gap-[60px] md:gap-[100px] xl:gap-[120px]">
        <section>
            <div class="bg-banner-tin-tuc bg-cover bg-no-repeat w-full md:bg-center ">
                <div
                    class="px-4 py-[50px] w-full mx-auto flex flex-col gap-[14px] md:py-4 md:pr-[330px]  md:gap-[22px] xl:pt-20 xl:pb-[131px] xl:pl-0 xl:pr-[447px] xl:max-w-7xl">
                    <div class="flex gap-2.5 items-center font-medium text-body-1">
                        <a href="index.html" class="text-secondary-4">Trang chủ</a>
                        <svg class="h-[11px] w-1.5" xmlns="http://www.w3.org/2000/svg" width="7" height="12"
                            viewBox="0 0 7 12" fill="none">
                            <line y1="-0.5" x2="11.4018" y2="-0.5"
                                transform="matrix(-0.263117 0.964764 -0.974732 -0.223376 3 0.5)" stroke="#8E9BA6" />
                            <line y1="-0.5" x2="11.4018" y2="-0.5"
                                transform="matrix(-0.263117 0.964764 -0.974732 -0.223376 6 0.5)" stroke="#8E9BA6" />
                        </svg>
                        <a href="about.html" class="text-primary-1">Giới thiệu</a>
                    </div>
                    <div class="text-secondary-2 font-semibold text-heading-3 md:hidden xl:block xl:text-heading-1">
                        Trách nhiệm, sáng tạo,
                        tận tâm
                        là những
                        tiêu chí mà húng tôi luôn hướng tới</div>
                    <div class="text-secondary-2 font-semibold text-heading-3 hidden md:block xl:hidden">Nắm bắt nhu cầu
                        thị
                        trường là yếu tố để cải thiện sản phẩm và doanh nghiệp</div>
                </div>
            </div>
        </section>
        <section>
            <div class="flex flex-col mx-4">
                <div class="flex items-center gap-2">
                    <div class="w-[17px] h-[1px] bg-primary-1"></div>
                    <a href="about.html" class="text-primary-1 font-medium text-body-1">Tin tức</a>
                </div>
                <h3 class=" mt-2.5 mb-8 md:mb-10 text-neutral-1-900 text-heading-3 font-semibold">Một số thông tin bên
                    ngoài
                </h3>
                <div class="flex flex-col mt-10 gap-6 md:gap-10 xl:flex-row xl:gap-12">
                    <div class="flex flex-col w-full gap-[34px] xl:w-1/2 the-main-tin-tuc invisible">
                        <div class="overflow-hidden">
                            <img class="aspect-video rounded w-full h-full img-tin-tuc hover:scale-110 duration-300 cursor-pointer"
                                src="../img/home/tin-tuc/tin-tuc-tang-gia-nguyen-vat-lieu.jpg" alt="">
                        </div>
                        <div class="flex flex-col">
                            <div class="flex items-center gap-2.5">
                                <h6 class="uppercase text-primary-1 font-medium text-body-2">TIn tức</h6>
                                <div class="w-[3px] h-[3px] rounded-full bg-neutral-1-300"></div>
                                <div class="text-neutral-1-600 text-body-2 font-medium">27, Th 2, 2022</div>
                            </div>
                            <div class="text-neutral-1-900 text-heading-4 font-semibold mt-3 md:mt-1 ">Sức ép
                                tăng giá
                                nguyên vật
                                liệu
                                quay trở lại với Nhựa Bình Minh</div>
                            <p class="text-neutral-1-600 font-normal text-body-1 mt-2.5">Lorem Ipsum is simply dummy
                                text
                                of the
                                printing ets and typesetting industry. Lorem Ipsum has been the industry's </p>
                            <div class="w-full h-[1px] bg-border my-[30px] border-tin-tuc"></div>
                        </div>
                    </div>
                    <ul class="flex flex-col gap-6 md:gap-10 xl:w-1/2">
                        <li class="flex flex-col w-full gap-[34px] item-tin-tuc xl:flex-row">
                            <div class="overflow-hidden ">
                                <img class="aspect-video rounded w-full img-tin-tuc  hover:scale-110 duration-300 cursor-pointer"
                                    src="../img/home/tin-tuc/tin-tuc-tang-gia-nguyen-vat-lieu.jpg" alt="">
                            </div>
                            <div class="flex flex-col ">
                                <div class="flex items-center gap-2.5">
                                    <h6 class="uppercase text-primary-1 font-medium text-body-2">TIn tức</h6>
                                    <div class="w-[3px] h-[3px] rounded-full bg-neutral-1-300"></div>
                                    <div class="text-neutral-1-600 text-body-2 font-medium">27, Th 2, 2022</div>
                                </div>
                                <div class="text-neutral-1-900 text-heading-4 font-semibold mt-3 md:mt-1">Sức ép tăng
                                    giá
                                    nguyên vật
                                    liệu
                                    quay trở lại với Nhựa Bình Minh</div>
                                <p class="text-neutral-1-600 font-normal text-body-1 mt-2.5">Lorem Ipsum is simply dummy
                                    text
                                    of the
                                    printing ets and typesetting industry. Lorem Ipsum has been the industry's </p>
                                <div class="w-full h-[1px] bg-border my-[30px] border-tin-tuc"></div>
                            </div>
                        </li>
                        <li class="flex flex-col w-full gap-[34px] item-tin-tuc">
                            <div class="overflow-hidden">
                                <img class="aspect-video rounded w-full img-tin-tuc  hover:scale-110 duration-300 cursor-pointer"
                                    src="../img/home/tin-tuc/tin-tuc-tang-gia-nguyen-vat-lieu.jpg" alt="">
                            </div>
                            <div class="flex flex-col">
                                <div class="flex items-center gap-2.5">
                                    <h6 class="uppercase text-primary-1 font-medium text-body-2">TIn tức</h6>
                                    <div class="w-[3px] h-[3px] rounded-full bg-neutral-1-300"></div>
                                    <div class="text-neutral-1-600 text-body-2 font-medium">27, Th 2, 2022</div>
                                </div>
                                <div class="text-neutral-1-900 text-heading-4 font-semibold mt-3 md:mt-1">Sức ép tăng
                                    giá
                                    nguyên vật
                                    liệu
                                    quay trở lại với Nhựa Bình Minh</div>
                                <p class="text-neutral-1-600 font-normal text-body-1 mt-2.5">Lorem Ipsum is simply dummy
                                    text
                                    of the
                                    printing ets and typesetting industry. Lorem Ipsum has been the industry's </p>
                                <div class="w-full h-[1px] bg-border my-[30px] border-tin-tuc"></div>
                            </div>
                        </li>
                        <li class="flex flex-col w-full gap-[34px] item-tin-tuc">
                            <div class="overflow-hidden">
                                <img class="aspect-video rounded w-full img-tin-tuc  hover:scale-110 duration-300 cursor-pointer"
                                    src="../img/home/tin-tuc/tin-tuc-tang-gia-nguyen-vat-lieu.jpg" alt="">
                            </div>
                            <div class="flex flex-col">
                                <div class="flex items-center gap-2.5">
                                    <h6 class="uppercase text-primary-1 font-medium text-body-2">TIn tức</h6>
                                    <div class="w-[3px] h-[3px] rounded-full bg-neutral-1-300"></div>
                                    <div class="text-neutral-1-600 text-body-2 font-medium">27, Th 2, 2022</div>
                                </div>
                                <div class="text-neutral-1-900 text-heading-4 font-semibold mt-3 md:mt-1">Sức ép tăng
                                    giá
                                    nguyên vật
                                    liệu
                                    quay trở lại với Nhựa Bình Minh</div>
                                <p class="text-neutral-1-600 font-normal text-body-1 mt-2.5">Lorem Ipsum is simply dummy
                                    text
                                    of the
                                    printing ets and typesetting industry. Lorem Ipsum has been the industry's </p>
                                <div class="w-full h-[1px] bg-border my-[30px] border-tin-tuc"></div>
                            </div>
                        </li>
                        <li class="flex flex-col w-full gap-[34px] the-last-tin-tuc  item-tin-tuc">
                            <div class="overflow-hidden">
                                <img class="aspect-video rounded w-full img-tin-tuc  hover:scale-110 duration-300 cursor-pointer"
                                    src="../img/home/tin-tuc/tin-tuc-tang-gia-nguyen-vat-lieu.jpg" alt="">
                            </div>
                            <div class="flex flex-col">
                                <div class="flex items-center gap-2.5">
                                    <h6 class="uppercase text-primary-1 font-medium text-body-2">TIn tức</h6>
                                    <div class="w-[3px] h-[3px] rounded-full bg-neutral-1-300"></div>
                                    <div class="text-neutral-1-600 text-body-2 font-medium">27, Th 2, 2022</div>
                                </div>
                                <div class="text-neutral-1-900 text-heading-4 font-semibold mt-3 md:mt-1">Sức ép tăng
                                    giá
                                    nguyên vật
                                    liệu
                                    quay trở lại với Nhựa Bình Minh</div>
                                <p class="text-neutral-1-600 font-normal text-body-1 mt-2.5">Lorem Ipsum is simply dummy
                                    text
                                    of the
                                    printing ets and typesetting industry. Lorem Ipsum has been the industry's </p>
                                <div class="w-full h-[1px] bg-border my-[30px] border-tin-tuc"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="pt-10 px-4 bg-secondary-2 flex flex-col md:pt-20 xl:pt-[72px] lg:px-2 2xl:px-0">
            <div
                class="flex flex-col md:flex-row md:justify-between w-full mx-auto xl:max-w-7xl xl:justify-start xl:gap-[214px]">
                <div class="flex flex-col md:w-[47.63%]  gap-[30px] md:gap-7 xl:gap-8 xl:w-[35.86%]">
                    <div class="flex flex-col gap-3">
                        <a href="index.html"> <img class="aspect-149/28 h-7" src="../img/header-footer/logo-footer.png"
                                alt=""></a>
                        <p class="text-white font-normal text-body-1">Công ty TNHH Vateco là công ty chuyên nghiệp hàng
                            đầu
                            trong lĩnh vực cung cấp và phân phối các sản phẩm Valves</p>
                    </div>
                    <div class="flex flex-col gap-5 text-white xl:whitespace-nowrap">
                        <div class="flex gap-3">
                            <span class="twi-7-call-fill text-[24px]"></span>
                            <div class="font-normal text-body-1">0902 002 880 / 0909 498 620</div>
                        </div>
                        <div class="flex gap-3">
                            <span class="twi-7-mail-fill text-[24px]"></span>
                            <div class="font-normal text-body-1">Congtyvateco@gmail.com</div>
                        </div>
                        <div class="flex gap-3">
                            <span class="twi-7-home-fill text-[24px]"></span>
                            <div class="font-normal text-body-1">Số 10 Đường số 7, KP.5, P.Hiệp Bình
                                Phước, Q.Thủ Đức,
                                TP.HCM</div>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col xl:flex-row xl:justify-between xl:w-full">
                    <div class="flex flex-col gap-5 py-12 md:pt-0 md:pb-[30px]">
                        <h1 class="text-heading-5 font-semibold  text-white">vateco.com</h1>
                        <div class="flex gap-[70px] text-white text-body-1 font-normal xl:flex-col xl:gap-4">
                            <div>
                                <a href="about.html" class="hover:text-primary-3 duration-300">Giới thiệu</a>
                            </div>
                            <div>
                                <a href="#" class="hover:text-primary-3 duration-300">Dự án</a>
                            </div>
                            <div>
                                <a href="#" class="hover:text-primary-3 duration-300">Liên hệ</a>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col gap-5">
                        <h1 class="text-white text-heading-5 font-semibold">Hình ảnh</h1>
                        <div class="grid grid-cols-4 gap-x-[30px] gap-y-[34px]">
                            <div class="overflow-hidden">
                                <img class="aspect-square max-w-[67px] rounded-md cursor-pointer hover:scale-110 duration-300"
                                    src="../img/header-footer/hinh-anh-footer.jpg" alt="">
                            </div>
                            <div class="overflow-hidden">
                                <img class="aspect-square max-w-[67px] rounded-md cursor-pointer hover:scale-110 duration-300"
                                    src="../img/header-footer/hinh-anh-footer.jpg" alt="">
                            </div>
                            <div class="overflow-hidden">
                                <img class="aspect-square max-w-[67px] rounded-md cursor-pointer hover:scale-110 duration-300"
                                    src="../img/header-footer/hinh-anh-footer.jpg" alt="">
                            </div>
                            <div class="overflow-hidden">
                                <img class="aspect-square max-w-[67px] rounded-md cursor-pointer hover:scale-110 duration-300"
                                    src="../img/header-footer/hinh-anh-footer.jpg" alt="">
                            </div>
                            <div class="overflow-hidden">
                                <img class="aspect-square max-w-[67px] rounded-md cursor-pointer hover:scale-110 duration-300"
                                    src="../img/header-footer/hinh-anh-footer.jpg" alt="">
                            </div>
                            <div class="overflow-hidden">
                                <img class="aspect-square max-w-[67px] rounded-md cursor-pointer hover:scale-110 duration-300"
                                    src="../img/header-footer/hinh-anh-footer.jpg" alt="">
                            </div>
                            <div class="overflow-hidden">
                                <img class="aspect-square max-w-[67px] rounded-md cursor-pointer hover:scale-110 duration-300"
                                    src="../img/header-footer/hinh-anh-footer.jpg" alt="">
                            </div>
                            <div class="overflow-hidden">
                                <img class="aspect-square max-w-[67px] rounded-md cursor-pointer hover:scale-110 duration-300"
                                    src="../img/header-footer/hinh-anh-footer.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div
                class="flex flex-col gap-7 text-white my-10 pt-7 border-t border-solid border-[#161E30] md:flex-row md:justify-between md:pt-[25px] md:mt-[88px] md:mb-5  w-full mx-auto xl:max-w-7xl">
                <span class="font-normal text-body-1 text-center">Copyright 2020 by T-web. All Rights Reserved.</span>
                <div class="flex gap-5 justify-center">
                    <a href="#"><i class="twi-7-facebook-fill text-[24px]"></i></a>
                    <a href="#"><i class="twi-7-instargam-fill text-[24px]"></i></a>
                    <a href="#"><i class="twi-7-twitter-fill text-[24px]"></i></a>
                    <a href="#"><i class="twi-7-linkedin-fill text-[24px]"></i></a>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>