@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../fonts/svn/style.css';
@import '../fonts/font-icon/style.css';

@layer utilities {
    .sub-dropdown:hover>.sub-dropdown-content {
        @apply visible;
    }

    .sub-dropdown:hover>.sub-dropdown-title {
        @apply text-primary-1;
    }
}

@layer utilities {
    @variants responsive {

        /* Hide scrollbar for Chrome, Safari and Opera */
        .no-scrollbar::-webkit-scrollbar {
            display: none;
        }

        /* Hide scrollbar for IE, Edge and Firefox */
        .no-scrollbar {
            -ms-overflow-style: none;
            /* IE and Edge */
            scrollbar-width: none;
            /* Firefox */
        }
    }

}

.show {
    display: block;
}

.no-scroll {
    overflow: hidden;
}

.flex {
    display: flex;
}

// slide cam-nhan-khach-hang
.slide-cam-nhan-khach-hang {

    .slick-dots {
        @apply flex justify-center
    }

    .slick-slide {
        @apply px-3;
    }

    .slick-track {
        @apply flex justify-center overflow-visible
    }

    .slick-dots .slick-active>div {
        @apply bg-primary-1
    }

    .slick-dotted.slick-slider {
        margin-bottom: 0;
    }

    .draggable.slick-list {
        @apply py-4
    }
}

@media only screen and (min-width: 768px) {
    .slide-cam-nhan-khach-hang {
        .slick-slide {
            @apply px-[15px]
        }
    }
}

// tin-tuc
.the-last-tin-tuc .border-tin-tuc {
    @apply hidden
}

@media only screen and (min-width: 768px) {
    .item-tin-tuc {
        @apply flex-row gap-4;

        .img-tin-tuc {
            @apply w-[174px]
        }


        p {
            @apply hidden;
        }
    }

    .item-tin-tuc .border-tin-tuc {
        @apply hidden
    }
}

@media only screen and (min-width: 1280px) {
    .the-main-tin-tuc .border-tin-tuc {
        @apply hidden
    }
}

#section-2 {
    & .active.fade-left-dich-vu {
        @apply animate-fade-left-dich-vu;
    }

    & .active.fade-right-dich-vu {
        @apply animate-fade-right-dich-vu;
    }
}